<% include ./partials/header %>
<div class="container">
    <div class="row">
        <div class="padding_side"></div>
        <div class="col-md-3">
            <div class="ui inverted vertical menu">
              <a href="/about" class="active item">
                About
              </a>
              <a href="/activity" class="item">
                Gallery
              </a>
              
              <a href="/board" class="item">
                YB Board
              </a>
              <a href="/boardob" class="item">
                OB Board
              </a>
            </div>
        </div>
        
        
        
        <div class="col-md-9 about-style">
          <div class="ui padded segment">
            <div class="empty"></div>
            <div class="ui one column grid details">
              <div class="row">
                <div class="column">
                  <h2 class="ui header">SNU Golf Team</h2>
                  <hr id="about-hr">
                  <h5 class="ui header">서울대학교 골프부는 골프 실력과 관계없이 골프를 사랑하는 구성원이면</h5>
                  <h5 class="ui header"> 누구나 함께할 수 있는 서울대학교 운동부입니다.</h5>
                  <!--<h5 class="ui header"></h5>-->
                  <h5 class="ui header">초보자의 경우 지도교수와 연습부장의 지도를 받아 실력을 키워 나갈 수 있고,</h5>
                  <!--<h5 class="ui header"></h5>-->
                  <h5 class="ui header">숙련자의 경우 스스로 연습하면서 필요할 때마다 자세 교정을 받을 수 있습니다.</h5>
                  <h6 class="ui header"><br></h6>
                  <h5 class="ui header">골프부는 주기적으로 스크린골프 대회와 필드 라운딩을 개최하여 부원들의 실력을 점검하고</h5>
                  <h5 class="ui header"> 부원끼리 친목을 도모합니다. 또, 골프부는 YB뿐 아니라 OB에서도 교류를 지속하여</h5>
                  <h5 class="ui header"></h5>
                  <h5 class="ui header">모든 골프부 구성원이 평생 골프 친구가 되도록 하는 것을 최종적인 목표로 합니다.</h5>
                  <h5 class="ui header"></h5>
                  <h5 class="ui header"></h5>
                  <h5 class="ui header"></h5>
                </div>
              </div>
            </div>
            <div class="empty"></div>
            <div class="empty"></div>
            <div class="ui two column grid details">
              <div class="row">
                <div class="column">
                  <div class="empty"></div>
                  <h2 class="ui header">주요 활동 내용</h2>
                  <hr id="about-hr">
                  <h5 class="ui header">기본 자세 및 스윙 연습</h5>
                  <h5 class="ui header">Par 3 라운딩</h5>
                  <h5 class="ui header">YB & OB 정규 18홀 라운딩</h5>
                  <h5 class="ui header">대학 연합 스크린골프 대회 </h5>
                  <h5 class="ui header">서울대학교 골프부 스크린골프 대회 </h5>
                  <h5 class="ui header">방학 중 해외 전지훈련</h5>
                  <h5 class="ui header">매주 정기 연습 및 뒤풀이</h5>
                  <h5 class="ui header"></h5>
                </div>
                <div class="column">
                  <h2 class="ui header">모집 대상</h2>
                  <hr id="about-hr">
                  <h5 class="ui header">골프를 배우고자 하는 열의가 가득하고</h5>
                  <h5 class="ui header">골프를 좋아하고 관심 있는</h5>
                  <h5 class="ui header">서울대학교 구성원이라면 누구나</h5>
                  <h5 class="ui header"><br></h5>
                  <h2 class="ui header">지원 방법</h2>
                  <hr id="about-hr">
                  <h5 class="ui header">매학기 초(3월, 9월)에 신입부원 모집</h5>
                  <h5 class="ui header">snugolf.com 홈페이지에서 지원서 작성</h5>
                  <h5 class="ui header">주장단 면접</h5>
                  <h5 class="ui header">합격자 발표(개인 연락)</h5>
                  <h5 class="ui header"></h5>
                  <h5 class="ui header"></h5>
                </div>
              </div>
            </div>
          </div>      
        </div>
        <div class="empty"></div>
        
            </div>

<% include ./partials/footer %>